@model Ingeniux.Runtime.CMSPageRequest
@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using Ingeniux.Runtime
@if (Model != null)
{
	
	<div class="page-title blue-background center-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-offset-2 col-sm-8">
					<h1>News Front</h1>

				</div>
			</div>
			<!-- Row -->
		</div>
		<!-- Container -->
	</div>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="top-highlight-story">
						<a href="/tnav9/DssPreview/x3.xml?Preview=true&amp;Site=&amp;IncludeAllPages=true&amp;tfrm=1&amp;PubTgt=PublishingTargets/1&amp;Site=&amp;UserAgent=">
							<img src="/tnav9/DssPreview/assets/images/rand_img_0001.jpg?_previewAsset_=true" alt="" />
						</a>

						<a href="/tnav9/DssPreview/x3.xml?Preview=true&amp;Site=&amp;IncludeAllPages=true&amp;tfrm=1&amp;PubTgt=PublishingTargets/1&amp;Site=&amp;UserAgent=">
							<h2>Title</h2>
						</a>
						<p>January 28, 2017</p>
						<p>abstract</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</section>    

}