<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Search" type="Ingeniux.Search.Configuration.IndexingConfiguration, Ingeniux.Search" />
	</configSections>
	<Search indexLocation="App_Data\LuceneIndex"
					indexingEnabled="false"
					queryMaxClauses="1024">
		<Hiliter startTag="&lt;strong&gt;" endTag="&lt;/strong&gt;" />
		<!--<Settings>
			<add name="defaultIndexingAnalyzer" value="Ingeniux.Search.Analyzers.StemmingIndexingAnalyzer, Ingeniux.Search" />
			<add name="defaultQueryAnalyzer" value="Ingeniux.Search.Analyzers.StemmingQueryAnalyzer, Ingeniux.Search" />
		</Settings>-->
		<IndexingSources>
			<!--<add name="IntranetCartella"
					 type="Cartella.Search.CartellaSearchSource"
					 settingsFile="App_Data\cartellaSearchSource.config" />
			<add name="IntranetPublicContent"
					 type="Ingeniux.Runtime.DssContentSearchSource"
					 settingsFile="\\intranet\pub\settings\searchSource.config" />
			<add name="SupportPublicContent"
					 type="Ingeniux.Runtime.DssContentSearchSource"
					 settingsFile="\\support\pub\settings\searchSource.config" />
			<add name="IntranetDirectory"
					 type="Cartella.Search.LdapSearchSourceSource"
					 settingsFile="App_Data\ldapSearchSource.config" />-->
		</IndexingSources>
		<SearchProfiles>
			<!--<add name="Intranet">
				<Sources>
					<add name="IntranetCartella" />
					<add name="IntranetPublicContent" />
					<add name="IntranetDirectory" />
				</Sources>
			</add>-->
		</SearchProfiles>
	</Search>
</configuration>