<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Search" type="Ingeniux.Search.Configuration.IndependentIndexingSourceConfig, Ingeniux.Search" />
	</configSections>
	<Search indexLocation="App_Data\KeyMatch_Index">
		<Settings>
			<!-- tracking cycles are
				year
				month-->
			<add name="CsvFile" value="D:\ProductDev_TF\InSiteSearch\IngeniuxSearchService\App_Data\frontKeymatch_McGeorge_New.csv" />
			<add name="ContentFieldName" value="SEOGroup__LuceneKeyMatch" />
			<add name="ContentKeyMatchType" value="PhraseMatch" /> 
		</Settings>
	</Search>
</configuration>