<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Search" type="Ingeniux.Search.Configuration.SpellCheckerSourceConfig, Ingeniux.Search" />
	</configSections>
	<Search indexLocation="App_Data\Spellchecker_Index">
		<Settings>
		</Settings>
		<Dictionaries>
			<!--<add name="short" value="G:\downloads\words.txt" />-->
		</Dictionaries>
		<Taxonomies>
			<add name="eduTax" value="G:\ProductDev\Dev_90\CMS_Site\App_Data\pub\testurl\taxonomytree.xml" />
		</Taxonomies> 
	</Search>
</configuration>