@model Ingeniux.Runtime.ICMSElement

<div class="service">
	<i class="@Model.Element("IconClass").Value service-icon"></i>
	<div class="desc">
		<h4>@Model.Element("Title").Value</h4>
		<p>@Model.Element("Body").Value</p>
	</div>
</div>

