@model Ingeniux.Runtime.CMSPageRequest
@using Ingeniux.Runtime
@using Ingeniux.Runtime.Models
@using System.Xml.Linq;
@if (Model != null)
{

	<!-- Go to www.addthis.com/dashboard to customize your tools --> 
	<div class="addthis_inline_share_toolbox"></div>
}